<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="savage.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <div>Hello World</div>
    <script src="_framework/blazor.web.js"></script>
    <!--script src="foo.js"></script-->
    <!--div id="osf-logo-container">
      <script type="text/javascript" src="osf-logo.js"></script>
    </div-->
    <!--div id="planet-nine-logo-container">
      <script type="text/javascript" src="planet-nine-logo.js"></script>
    </div-->
      <script type="text/javascript" src="juliaswitch.js"></script>
</body>

</html>
