<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="savage.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <title>Fixed Background SVG</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        #svgContainer {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        #fullSVG {
            position: fixed;
	    top: 0;
	    left: 0;
            width: 100%;
            height: 100%;
        }

    </style>
</head>

<body>
    <div>Hello World</div>
    <script src="_framework/blazor.web.js"></script>
    <!--script src="foo.js"></script-->
    <!--div id="osf-logo-container">
      <script type="text/javascript" src="osf-logo.js"></script>
    </div-->
    <!--div id="planet-nine-logo-container">
      <script type="text/javascript" src="planet-nine-logo.js"></script>
    </div-->
    <!--div id="svgContainer">
      <div id="savage">
        <script type="text/javascript" src="juliaswitch.js"></script>
      </div>
    </div-->
    <!--div id="parent" style="width:200px;height:300px;background-color:green"></div-->
    <!--script type="text/javascript" src="parent-container.js"></script-->
    <!--div id="parent2" style="width:300px;height:200px;background-color:purple"></div>
    <div id="parent3" style="width:100px;height:400px;background-color:orange"></div>
    <script type="text/javascript" src="game-scene.js"></script-->
    <script type="text/javascript" src="svg-pes-AnsuzBall.js"></script>
    <script type="text/javascript" src="svg-pes-AnsuzBallExplosion.js"></script>
    <script type="text/javascript" src="svg-pes-AppearingEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-AuraEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-BattleStartEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-BladeEmitter.js"></script>
    <!--script type="text/javascript" src="svg-pes-BloodBurst.js"></script>
    <script type="text/javascript" src="svg-pes-BloodSplatter.js"></script>
    <script type="text/javascript" src="svg-pes-BubbleEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-ButterflyEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-Comet.js"></script>
    <script type="text/javascript" src="svg-pes-DoubleHealingEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-DustEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-DynamiteEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-ElementalEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-ElementalShield.js"></script>
    <script type="text/javascript" src="svg-pes-EnemyFireEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-EnemyPoisonEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-EnemyRageEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-EnemyStatusEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-EnemyWaterEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-EpelthEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-EssenceEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-Explosion.js"></script>
    <script type="text/javascript" src="svg-pes-FireEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-FireWall.js"></script>
    <script type="text/javascript" src="svg-pes-FireballProjectileTest.js"></script>
    <script type="text/javascript" src="svg-pes-FrogEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-FyrazEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-GhostEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-GroundBreaking.js"></script>
    <script type="text/javascript" src="svg-pes-HawkEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-HealingAnimationEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-HelazEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-HelazEmitterBig.js"></script>
    <script type="text/javascript" src="svg-pes-IngrethEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-InsectEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-IsaEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-LaguzRainEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-LightningSinWaveTest.js"></script>
    <script type="text/javascript" src="svg-pes-MapFireEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-NordrinEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-PortalEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-PowerIncreasedEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-PowerIncreasedEmitterTextureNotEmbedded.js"></script>
    <script type="text/javascript" src="svg-pes-PriestExplosion.js"></script>
    <script type="text/javascript" src="svg-pes-RageEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-RainEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-RuneTombEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-SkeletonEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-SmokeEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-SnakeEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-Splash.js"></script>
    <script type="text/javascript" src="svg-pes-StatModifierEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-SudrinEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-Sun.js"></script>
    <script type="text/javascript" src="svg-pes-Teleporter.js"></script>
    <script type="text/javascript" src="svg-pes-TestFireballEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-TestProjectileEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-TextureLoader.js"></script>
    <script type="text/javascript" src="svg-pes-ThornEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-VineCoilEmitter.js"></script>
    <script type="text/javascript" src="svg-pes-VineEmitterTest.js"></script>
    <script type="text/javascript" src="svg-pes-WaterSpout.js"></script>
    <script type="text/javascript" src="svg-pes-WizardBallExplosion.js"></script>
    <script type="text/javascript" src="svg-pes-smallFireSparkleEmitter.js"></script-->
</body>

</html>
