<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="savage.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <title>Fixed Background SVG</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        #svgContainer {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: "green";
        }
        #fullSVG {
            position: fixed;
	    top: 0;
	    left: 0;
            width: 100%;
            height: 100%;
        }

    </style>
</head>

<body>
    <div>Hello World</div>
    <script src="_framework/blazor.web.js"></script>
    <!--script src="foo.js"></script-->
    <!--div id="osf-logo-container">
      <script type="text/javascript" src="osf-logo.js"></script>
    </div-->
    <!--div id="planet-nine-logo-container">
      <script type="text/javascript" src="planet-nine-logo.js"></script>
    </div-->
    <div id="svgContainer">
        <!--script type="text/javascript" src="juliaswitch.js"></script-->
        <!--script type="text/javascript" src="canvas-test.js"></script-->
        <script type="text/javascript" src="canvas-pes-test.js"></script>
        <!--script type="text/javascript" src="threejs.js"></script-->
        <!--script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
            }
        }
        </script>
        <script type="module">
	  import * as THREE from 'three';
	  import { GLTFLoader } from 'three/addons/loaders/GLTFLoader.js';

	  let scene, camera, renderer, model;
          window.THREE = THREE;
          window.GLTFLoader = GLTFLoader;
          window.scene = scene;
          window.camera = camera;
          window.renderer = renderer;
          window.model = model;
        </script>
        <script type="text/javascript" src="three-d.js"></script-->
    </div>
</body>

</html>
