<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="savage.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <title>Fixed Background SVG</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        #svgContainer {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        #fullSVG {
            position: fixed;
	    top: 0;
	    left: 0;
            width: 100%;
            height: 100%;
        }

    </style>
</head>

<body>
    <div>Hello World</div>
    <script src="_framework/blazor.web.js"></script>
    <!--script src="foo.js"></script-->
    <!--div id="osf-logo-container">
      <script type="text/javascript" src="osf-logo.js"></script>
    </div-->
    <!--div id="planet-nine-logo-container">
      <script type="text/javascript" src="planet-nine-logo.js"></script>
    </div-->
    <!--div id="svgContainer">
      <div id="savage">
        <script type="text/javascript" src="juliaswitch.js"></script>
      </div>
    </div-->
    <!--div id="parent" style="width:200px;height:300px;background-color:green"></div-->
    <!--script type="text/javascript" src="parent-container.js"></script-->
    <!--div id="parent2" style="width:300px;height:200px;background-color:purple"></div>
    <div id="parent3" style="width:100px;height:400px;background-color:orange"></div>
    <script type="text/javascript" src="game-scene.js"></script-->
    <!--script type="text/javascript" src="svg-pes.js?emitter=AnsuzBall"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=AnsuzBallExplosion"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=AppearingEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=AuraEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=BattleStartEmitter"></script-->
    <script type="text/javascript" src="svg-pes.js?emitter=BladeEmitter"></script>
    <!--script type="text/javascript" src="svg-pes.js?emitter=BloodBurst"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=BloodSplatter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=BubbleEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=ButterflyEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=Comet"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=DoubleHealingEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=DustEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=DynamiteEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=ElementalEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=ElementalShield"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=EnemyFireEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=EnemyPoisonEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=EnemyRageEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=EnemyStatusEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=EnemyWaterEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=EpelthEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=EssenceEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=Explosion"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=FireEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=FireWall"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=FireballProjectileTest"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=FrogEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=FyrazEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=GhostEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=GroundBreaking"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=HawkEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=HealingAnimationEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=HelazEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=HelazEmitterBig"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=IngrethEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=InsectEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=IsaEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=LaguzRainEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=LightningSinWaveTest"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=MapFireEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=NordrinEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=PortalEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=PowerIncreasedEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=PowerIncreasedEmitterTextureNotEmbedded"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=PriestExplosion"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=RageEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=RainEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=RuneTombEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=SkeletonEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=SmokeEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=SnakeEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=Splash"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=StatModifierEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=SudrinEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=Sun"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=Teleporter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=TestFireballEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=TestProjectileEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=TextureLoader"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=ThornEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=VineCoilEmitter"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=VineEmitterTest"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=WaterSpout"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=WizardBallExplosion"></script>
    <script type="text/javascript" src="svg-pes.js?emitter=smallFireSparkleEmitter"></script-->
</body>

</html>
